* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html,  
body {
    height: 100%;
}
html {
    font-size: 16px;
}
body {
    color: #4b4b4b;
    font-family: "Roboto";
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    max-width: 1050px;
    margin: 0px auto;
    padding: 0px 15px;
}
.block_one {
    display: none;
    height: 100px;
    width: 100%;   
    background-color: #c2da69;
    border: 1px solid #000;
}
.block_one--active {
    display: block;
}
.block_one__title {
    text-align: center;
}
.block_two {
    display: flex;
}
.block_two > * {
    width: calc(100% / 3);  
    height: 100px;    
    border: 1px solid #000;
}
.block_two :nth-child(2) {
    border: 1px dashed #000;
}
.block_two__blue {
    order: 1;
    background-color: #2a6eff;    
}
.block_two__blue-light {
    order: 2;
    background-color: #89d0ff;
}
.block_two__blue-dark {    
    order: 3;
    background-color: #0a0cb1;
}
.block_two__blue--first {
    order: 1;    
}
.block_three {
    display: flex;    
}
.block_three > * {
    height: 100px;
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #da6969;
    border: 1px solid #000;
}
.block_three :nth-child(2) {
    width: calc((100% / 3) * 2);
    background-color: #da69c7;
}
@media (max-width: 768px) {
    .block_two,
    .block_three {
        flex-wrap: wrap;
    }
    .block_two > * ,
    .block_three > * , 
    .block_three :nth-child(2) {
        width: 100%;        
    }
}